/* Desktop Responsive */

body {
    background-color: #DEB887;

}

#toggle_menu {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 21px;
    justify-content: space-between;
    cursor: pointer;
    margin: 5px 0px 5px 0px;
}

.burger {
    background-color: black;
    width: 100%;
    height: 3px;
}

#toggle_options {
    transition: 1s;
    position: fixed;
    right: 2600px;
    width: 100%;
    background-color: #00A762;
    height: 100%;
    list-style: none;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

/* Mobile Responsive */
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 428px) {

    #toggle_options {
        transition: 0.4s;
        right: 500px;
    }
}